:root {
  --action: #ea404b;
  --branding-dark: #1c2c40;
  --branding-main: #fdd130;
  --green: #21b1b1;
  --green-hover: #369b7a;
  --masked: #efefef;
  --re-api: #079f5d;
  --re-api-hover: #056f41;
  --re-black: #f49f3c;
  --re-black-hover: #aa6f2a;
  --re-latino: #027ec3;
  --re-latino-hover: #015888;
  --re-native: #fdd130;
  --re-native-hover: #b19222;
  --re-unknown: #ea85ba;
  --re-unknown-hover: #a35d82;
  --re-white: #bfbfbf;
  --re-white-hover: #d5d5d5;
}

*,
::after,
::before {
  box-sizing: border-box;
  font-family: 'IBM Plex Sans', sans-serif;
}

.sub-nav-wrapper {
  margin: 0 auto;
  padding: 10px 10px 50px;
  max-width: 1280px;
  justify-content: space-around;
}

@media (min-width: 900px), print {
  .sub-nav-wrapper {
    display: flex;
  } 
}

.icon-person {
  height: 38px;
  width: 18.89px;
}

.re-Black {
  color: var(--re-black);
}

.re-White,
.re-white,
.re-null {
  color: var(--re-white);
}

.re-Hispanic {
  color: var(--re-latino);
}

.re-AAPI {
  color: var(--re-api);
}

.re-native {
  color: var(--re-native);
}

.re-other {
  color: var(--re-unknown);
}

.icon-chart {
  box-shadow: 0 0 10px rgb(0 0 0 / 20%);
  border: 0;
  border-radius: 5px;
  padding: 10px;
  margin: 15px 0;
}

.icon-chart-races-container {
  display: flex;
  flex-direction: column;
}

.icon-chart-races-container h4 {
  text-align: left;
}

.icon-chart-race-container {
  flex: 0 0 100%;
  width: 100%;
}

.icon-chart-row {
  margin-bottom: 10px;
  min-height: 24px;
}

.icon-chart-data {
  display: flex;
  position: relative;
}

.icon-chart-label {
  margin-right: 1em;
  position: static;
  transform: none;
  font-size: 11px;
  line-height: 0.9;
}

.icon-chart-data-point {
  margin-right: 2px;
  position: relative;
}

.icon-chart-data-point-mask {
  background: #fff;
  content: "";
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.icon-chart-data-label {
  font-size: 16px;
  left: 50%;
  position: absolute;
  bottom: auto;
  padding-left: 1.4em;
  transform: translate(0, 100%);
}

.icon-chart-disclaimer {
  color: #777;
  font-size: 10px;
}

.filters {
  display: flex;
  justify-content: center;
  flex-direction: column;
  position: relative;
}

.filter {
  margin: 0 20px 0 10px;
}

.app {
  padding: 10px 10px 50px;
}

.tool {
  padding: 10px 10px 50px;
  max-width: 1280px;
  margin: 0 auto;
}

.tool .disclaimer {
  margin-bottom: 40px;
}

.tool .disclaimer h1 {
  margin-bottom: 20px;
}

.select-component {
  position: relative;
}

.select-component.select-component-counties {
  position: static;
}

.select-component label {
  font-weight: bold;
  cursor: pointer;
  padding: 5px 10px;
}

.select-component label.modal-actived {
  background: lightgray;
}

.select-component .modal-wrapper {
  position: absolute;
  background-color: #fff;
  background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
  width: 300px;
  left: 0;
  top: 100%;
  background-color: white;
  padding: 30px;
  z-index: 9999;
}

.select-component.select-component-counties .modal-wrapper {
  width: 100%;
  left: 0;
  top: 100%;
  background-color: white;
  padding: 30px;
  z-index: 9999;
}

.select-component .modal-wrapper h3 {
  font-weight: normal;
}

.select-component .modal-footer {
  height: 60px;
  padding-right: 10%;
}

.select-component .modal-footer button {
  background: none;
  border: 1px solid black;
  padding: 6px 20px;
  cursor: pointer;
}

.select-component.select-component-counties .modal-footer button {
  background: none;
  border: 1px solid black;
  padding: 6px 20px;
  float: right;
  cursor: pointer;
}

.select-component .modal-footer button:hover {
  background: black;
  color: white;
}

.select-component ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

.select-component.select-component-counties ul {
  display: flex;
  flex-wrap: wrap;
}

.select-component ul li {
  cursor: pointer;
  font-weight: bold;
  padding: 10px 0;
}

.select-component ul li input {
  margin-right: 6px;
}

.select-component.select-component-counties ul li {
  padding: 10px 20px;
  font-weight: bold;
}

.select-component ul.modal-counties li {
  width: 200px;
}

.chart-scale {
  font-weight: normal;
}

.chart-scale .icon-chart-data {
  display: inline-flex;
}

.chart-scale .icon-chart-data .icon-chart-data-point-mask {
  display: none;
}

.buttons {
  display: flex;
  justify-content: flex-end;
}

.buttons .button {
  border: 1px solid black;
  border-radius: 5px;
  padding: 6px 10px;
  margin-left: 10px;
  cursor: pointer;
}

.buttons .button:hover {
  background: black;
  color: white;
}

.inner-anchors {
  text-align: center;
  margin-bottom: 30px;
}

.inner-anchors a {
  display: block;
  font-size: 18px;
  font-weight: 500;
  color: #1a73e8;
  margin-top: 16px;
}

.rja-tool-header {
  display: flex;
  margin: 0 auto;
  flex-direction: column;
  align-items: center;
  padding: 1.25rem;
}

.rja-tool-header a {
  color: #a8a8a8;
  font-weight: 700;
  padding: 4px 0px;
}

.rja-tool-header a.active {
  color: #2d3748;
}

.rja-tool-header img {
  width: 50px;
}

.rja-tool-header img:hover {
  transform: scale(1.1);
}

.generic-page {
  padding-bottom: 60px;
}

.generic-page h2 {
  color: #2d3748;
  text-align: center;
}

.generic-page p {
  color: #2d3748;
  font-size: 16px;
}

.generic-page table {
  border-collapse: collapse;
}

.generic-page table td {
  border: 1px solid black;
  padding: 0 4px;
}

.loading-animation-centered {
  display: flex;
  justify-content: center;
}

.chart-selected {
  text-align: center;
  padding: 20px 0;
}

.chart-selected span {
  display: inline-block;
  padding: 0 4px;
  color: #777;
  font-weight: 700;
}

@media (min-width: 1024px), print {
  .filters {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .icon-chart-races-container {
    flex-direction: row;
  }

  .icon-chart-races-container h4 {
    text-align: center;
  }

  .icon-chart-race-container {
    flex: 1;
    width: auto;
    display: flex;
    flex-direction: column;
  }

  .icon-chart-rows {
    display: flex;
    margin: auto 0 0;
    justify-content: center;
  }

  .icon-chart-row {
    display: flex;
    flex-direction: column-reverse;
    position: relative;
    padding: 1em 7px 6em;
    flex: 0 0 auto;
  }

  .icon-chart-data {
    flex-direction: column-reverse;
  }

  .icon-person-placeholder {
    height: 10px;
  }

  .icon-chart-label {
    flex: 0 0 auto;
    font-size: 11px;
    line-height: 0.9;
    left: 50%;
    position: absolute;
    text-align: right;
    top: calc(100% + 1em);
    transform: translate(-68%, -4.1em) rotate(-71deg);
    transform-origin: top center;
    width: 7rem;
  }

  .icon-chart-data-point {
    margin-right: 2px;
    position: relative;
  }

  .icon-chart-data-point-mask {
    background: #fff;
    content: "";
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }

  .icon-chart-data-label {
    bottom: 0.3em;
    font-size: 0.8rem;
    left: 50%;
    position: absolute;
    transform: translateX(-50%);
    top: auto;
    padding: 0;
  }

  .rja-tool-header {
    flex-direction: row;
    margin: 0 auto 60px;
    max-width: 1280px;
    padding: 0;
  }

  .rja-tool-header a {
    padding: 0 10px;
  }

  .rja-tool-header a:first-child {
    margin-right: auto;
  }

  .generic-page {
    max-width: 832px;
    margin: 0 auto;
  }
}

.disclaimer {
  text-align: center;
  margin-top: 40px;
}

.disclaimer img {
  width: 100px;
  width: height;
}

@media print {
  .icon-chart {
    height: 80vh;
    margin-bottom: 20vh;
  }
  .buttons {
    display: none;
  }

  .filters {
    display: none;
  }

  .disclaimer {
    display: block;
    height: 100vh;
  }
  .footer {
    margin-top: 20vh;
  }
}
